@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

/* FANCY TRANSISTION
-------------------------------------------------- */
/* Makes the text fade in */
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
  background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
  background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
  background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
  background-repeat: repeat,			no-repeat,			no-repeat;
  background-size: 100px 100px, cover,				cover;
  background-position: top left,		center center,		bottom center;
  background-attachment: fixed,			fixed,				fixed;
  background-color: rgba(0, 0, 0, 1);

}

.card{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  border-width: 1px;
  background-color: #ffffff;
}

.card-title{
    font-size: 50px;
    text-align: center;
}

.opening{
  margin-top: 0%;
  margin-bottom: 15%;

}

#themenum{
  color: #F08080;
  font-weight: bold;
  font-size: 30px;
}

.col > h1{

  font-size: 180px;
  margin-bottom: 3%;

  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s;
}

.col > h2, hr{
  font-size: 100px;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s;
}

#fill{
  margin-left: 1%;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s;
}

/* other
-------------------------------------------------- */
.stayleft{
    position: fixed;
    top: 52%;
    right: 1.5%;
    z-index: 999;
    position: fixed;
    top: 52%;
    left: 1.5%;


}
.thl{
    position: fixed;
    top: 50%;
    left: 1%;
    z-index: 999;
    height: 55px;
    width: 40px;
    opacity: 0.1;
    background-color: grey;
    z-index: 999;
}

.thr{
    position: fixed;
    top: 50%;
    right: 1%;
    z-index: 999;
    height: 55px;
    width: 40px;
    opacity: 0.1;
    background-color: grey;
    z-index: 999;
}

.stayright{
    position: fixed;
    top: 52%;
    right: 1.5%;
    z-index: 999;
}



/* RED THEME
-------------------------------------------------- */

.redbol{
  color: #8b0000;
  font-weight: bold;
}
.lightred{
  color: #F08080;
}

#fluxtextr{
  color: #8b0000;
  font-weight: bold;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s;
}

/* Green THEME
-------------------------------------------------- */

.greenbol{
  color: #8b0000;
  font-weight: bold;
}
.lightgreen{
  color: #90EE90;
}

/* BLUE THEME
-------------------------------------------------- */


.bluebol{
  color: #add8e6;
  font-weight: bold;
}

.bluemain{
  color: #00005c;
  font-weight: bold;
}
.lightblue{
  color: #add8e6;
}

#fluxtextb{
  color:  #00005c;
  font-weight: bold;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s;
}







#splash{
  min-height: 100%;
  min-width: 100%;
  border: none;
}
#footer{
  min-height: 100px;
  min-width: 100%;
  border: none;

}
#start{
    background-image: url("img/scroll.png");
}


.open_text{
  text-align: center;
  margin-top: 25%;
}

.thing{
  background-image: url(img/valc.png), url(img/start.png), url(img/scroll.png);
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: bottom, top, top;
  margin-top: 0%;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-caption > h1 {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  overflow: hidden;
  height: 40rem;
  filter: brightness(30%);
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}
